{% extends "layout.html" %}
{% block title %}Record List{% endblock %}
{% block content %}
    {% if users %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>ID</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Age</th>
                <th>Location</th>
                <th>Date</th>
            </thead>
            <tbody>
                {% for (id, first, last, email, age, loc, date) in users %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ first }}</td>
                    <td>{{ last }}</td>
                    <td>{{ email }}</td>
                    <td>{{ age }}</td>
                    <td>{{ loc }}</td>
                    <td>{{ date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-muted text-center">No Records 😢</p>
    {% endif %}
{% endblock %}